.Home {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home-link {
  color: #09d3ac;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
  font-size: 100%;
}

.search-button{
  background: darkgray;
  border: none;
  padding: 10px;
  font-size: 100%;
}

.search-button:hover {
  color: white;
}

.items{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.selectOpt {
  background: darkgray;
  border: none;
  padding: 10px;
  font-size: 100%;
}

.selectOpt:hover {
  color: white;
}


.enter{
  margin-left: 1.3rem;
  margin-top: 1.3rem;
  display: inline-block;
  padding: 10px 15px;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: lightblue;
  border: none;
  border-radius: 0.5rem;
}
